.about{
    width: 90%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-about{
    flex-basis: 40%;
    position: relative;
    cursor: pointer;
}

.right-about{
    flex-basis: 56%;
}

.video{
width: 100%;
border-radius: 10px;

}

.vid{
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    opacity:0.8 ;
}

.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: #212ea0;
}

.about h2 {
    font-size: 35px;
    color: #000f38;
    margin: 10px;
    max-width: 400px;
    
}

.about p {
    color: black;
    margin-bottom : 15px;
}

/*------- media query-------*/

@media(max-width:850px){
    .about{
        flex-direction: column;
    }

    .left-about{
        flex-basis: 100%;
        order: 2;
        margin: 20px;
    }
    .right-about{
        flex-basis: 100%;
    }

}