body{
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: rgb(182, 176, 176);
    text-align: center;
    

}

div p {
    font-size: 100px;

}

div button{
    border: none;
    background: skyblue;
    padding-left: 10px;
}